@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Manage Projects", "Index", "Project", null, null)<br />
@Html.ActionLink("Manage Users", "Index", "User", null, null)<br />
@Html.ActionLink("Manage Categories", "Index", "Category", null, null)<br />
@Html.ActionLink("Manage Priorities", "Index", "Priority", null, null)<br />
@Html.ActionLink("Manage Statuses", "Index", "Status", null, null)